* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container p {
  font-size: 36px;
}
