/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  flex-direction: column;
}
.counter {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  padding: 100px 50px 20px 50px;
  background-color: purple;
  border-radius: 30px;
  gap: 30px;
}
.text-cont1 {
  font-size: 32px;
  font-weight: bold;
}
.int-container {
  display: flex;
  gap: 50px;
}
.int-container p {
  font-size: 100px;
  color: white;
}
.button-container {
  display: flex;
  gap: 25px;
}
.button-container button {
  width: 120px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  background-color: black;
  color: white;
} */
